---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
  <section>
    <a href="/blog" class="mb-4 text-xl">back</a>
  </section>
  <article class="prose dark:prose-invert">
    <slot />
  </article>
</BaseLayout>
